mixin formGroup(opts)
  .form-group
    label(for=opts.id)=opts.label
    input(type=opts.type name=opts.id id=opts.id).form-control&attributes(attributes)
    if opts.small
      small.form-text.text-muted(id=`${opts.id}-help`)=opts.small
    if opts.errorType
      if typeof(opts.errorType) === 'string'
        if errorType === opts.errorType
          small(id=`${opts.id}-error`).form-text.text-danger=message
      else
        each _errorType in opts.errorType
          if errorType === _errorType
            small(id=`${opts.id}-error`).form-text.text-danger=message
