mixin formGroup(opts)
  .form-group.mb-5
    label(for=attributes.id)=opts.label
    input(type=opts.type name=attributes.id aria-describedby=`${attributes.id}-error`).form-control&attributes(attributes)
    if opts.error
      if typeof(opts.error) === 'string'
        if errorType === opts.error
          small(id=`${opts.id}-error`).form-text.text-danger=message
      else
        each error in opts.error
          if errorType === error
            small(id=`${opts.id}-error`).form-text.text-danger=message
