.d-flex.align-items-center.container
  ul.nav
    li.nav-item
      a.nav-link.rounded(href=`${routes.home}`) Home
  .input-group.search-box.ml-1.input-group-sm
    input.form-control(type="text" placeholder="search" aria-label="search" aria-describedby="search-button")
    .input-group-append
      button.btn.btn-outline-light#search-button(type="button")
        i.fas.fa-search
  ul.nav.menu
    li.nav-item.dropdown
      i.fas.fa-caret-down.dropdown-icon.fa-2x(data-toggle="dropdown")
      .dropdown-menu
        a.dropdown-item(href=`${routes.makeRedirectPath(routes.user, routes.editProfile)}`) Edit Profile
        a.dropdown-item(href=`${routes.makeRedirectPath(routes.user, routes.logOut)}`) Logout
  ul.nav.list
    if user
      li.nav-item
        a.nav-link.rounded(href=`${routes.makeRedirectPath(routes.user, routes.editProfile)}`) Edit Profile
      li.nav-item
        a.nav-link.rounded(href=`${routes.makeRedirectPath(routes.user, routes.logOut)}`) Log Out
    else
      li.nav-item
        a.nav-link.rounded(href=`${routes.makeRedirectPath(routes.auth, routes.logIn)}`) Login